{% extends "layout.html.twig" %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
{% if article.categorie==1 %}
    <div class="jumbotron" style="background-color: white;color: black;">
{% else %}
    <div class="jumbotron" style="background-color: black;color: white;">
{% endif %}

        <div class="row">
            <div class="col-md-6">
                
                <img src="{{ app.request.basepath }}/images/{{ article.img }}" alt="">
            </div>
            <div class="col-md-6">
                <p>{{ article.content }}</p>
                
                {% if basketForm %}
                    {{ form_start(basketForm) }}
                        <div class="form-group">
                            {{ form_errors(basketForm.quantity) }}
                            {{ form_widget(basketForm.quantity, { 'attr':  {
                                'rows': '1',
                                'class': 'form-control',
                                'placeholder': 'Entrez la quantité désirée'
                            }}) }}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Ajouter au panier"></input>
                        </div>
                    {{ form_end(basketForm) }}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% else %}
                    <a href="{{ path('login') }} ">Se connecter</a> Pour ajouter un article au panier
                {% endif %}
                {#
                <a href="{{ path('add_basket', { 'id':article.id}) }}" class="btn btn-primary" id="">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
                </a>
                #}
            </div>
        </div>
    </div>
    <h3>Commentaire</h3>
    {% for comment in comments %}
        <strong>{{ comment.author.username }}</strong> à dit : {{ comment.content }}<br>
    {% else %}
        Pas de commentaire
    {% endfor %}
    <h3>Ajouter un commentaire</h3>
    {% if commentForm %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Entrer votre commentaire'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publier commentaire" />
            </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Se connecter</a> Pour ajouter un commentaire
    {% endif %}
    
    
{% endblock %}