{% extends "layout.html.twig" %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
{% if article.categorie==1 %}
    <div class="jumbotron" style="background-color: white;color: black;">
{% else %}
    <div class="jumbotron" style="background-color: black;color: white;">
{% endif %}
        <div class="row">
            <div class="col-md-6">
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <img src="{{ app.request.basepath }}{{ article.img }}" alt="">
            </div>
            <div class="col-md-6">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <strong>{{ comment.author.username }}</strong> said : {{ comment.content }}<br>
                {% else %}
                    No comments yet.
                {% endfor %}
            </div>
        </div>
    </div>
    <h3>Add a comment</h3>
    {% if commentForm %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publish comment" />
            </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
{% endblock %}