{% extends 'layout.html.twig' %}
{% set adminMenu = true %}
{% block title %}{% endblock %}
{% block content %}
<h2 class="text-center"></h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="body">
{{ form_start(basketType, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        <div class="col-sm-5">
            {{ form_errors(basketType.quantity) }}
            {{ form_widget(basketType.quantity, { 'attr':  {
                'class': 'form-control',
                'rows': '2'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
            <input type="submit" class="btn btn-primary" value="Enregistrer" />
        </div>
    </div>
{{ form_end(basketType) }}
</div>
{% endblock %}