{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
    <br/>
<div class="tab-pane fade in active adminTable" id="articles">
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Prix Unitaire</th>
                    <th>Nombre de nuit</th> 
                    <th>Prix total</th> 
                    <th>Supprimer</th>
                </tr>
            </thead>
            {% for basket in baskets %}
            <tr>
                <td><a class="articleTitle" href="{{ path('article', { 'id': basket.artid }) }}">{{ basket.title }}</a></td>
                <td>{{ basket.value }} €</td>
                <td>{{ basket.quantity }}</td>
                <td>{{ basket.value*basket.quantity }} €</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#basketDialog{{ basket.id }}"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="modal fade" id="basketDialog{{ basket.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                </div>
                                <div class="modal-body">
                                    Voulez-vous vraiment supprimer cette article de votre panier ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                    <a href="{{ path('basket_delete', { 'id': basket.id }) }}" class="btn btn-danger">Confirmer</a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </td>
            </tr>
            
            {% endfor %}
        </table>
        {% if(somme==0) %}
            <h2>Votre panier est vide</h2>
        {% else %}
            <h2>Prix total : {{ somme }} €</h2>
        {% endif %}
    </div>
</div>
{% endblock %}