{% extends "layout.html.twig" %}
{% block title %}{{ categorie.title }}{% endblock %}

{% block content %}

    <div class="container">
        <br>
        <div class="row">
            {% for article in articles %}
            <div class="col-md-4">
                {% if categorie.title=="Reve" %}
                    <a class="thumbnail" href="{{ path('article', { 'id': article.id }) }}" style="background-color: white;color: black;">
                {% else %}
                    <a class="thumbnail" href="{{ path('article', { 'id': article.id }) }}"style="background-color: black;color: white;">
                {% endif %}
                    <img src="{{ app.request.basepath }}{{ article.img }}" alt=""><h2>{{ article.title }}</h2>
                    <p>{{ article.value }}$</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}