{% extends "layout.html.twig" %}
{% block title %}{{ categorie.title }}{% endblock %}

{% block content %}
    <h2>
        Définition :
    </h2>
    <p>
        {{ categorie.content }}
    </p>
    <div class="container">
        <br>
        <div class="row">
            {% for article in articles %}
            <div class="col-md-4">
                {% if categorie.title=="Reve" %}
                    <a class="thumbnail" href="{{ path('article', { 'id': article.id }) }}" style="color: black;">
                {% else %}
                    <a class="thumbnail" href="{{ path('article', { 'id': article.id }) }}"style="color: white;">
                {% endif %}
                <img src="{{ app.request.basepath }}/images/{{ article.img }}">
                <p class="titre_categorie">{{ article.title }}</p>
                <p class="valeur_categorie">{{ article.value }} €</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



